p {
    color: blue;
    background: lightgray;
}

html {
    font-size: 32px;
    font-family: Open Sans, sans-serif;
    /*background: blue;*/
}

.font-demo {
    font-size: 34px;
    margin: 10px 100px 10px 200px;
    color: #090;
    font-family: sans-serif;
}

li {
    font-size: 24px;
    text-align: center;
}

#my-text-margin-id {
    background: red;
}

body{
    width: 1200px;
    margin: 0 auto;
    background: blue;
}

h2 {
    margin: 0;
    padding: 20px 0;
    color: red;
    text-shadow: 3px 4px 4px black;
}

#css-box-demo {
    width: 600px;
    height: 600px;
    background: gray;
    border: 1px dotted black;
    font-size: 64px;
    margin: 100px 100px 100px 100px;
}

#css-box-demo div {
    width: 400px;
    height: 400px;
    background: yellow;
    border: 2px solid black;
    margin: 50px auto;
    text-align: center;
}

#css-demo-unit-em {
    margin： 10px 50em;
}

.css-demo-unit {
    background: lightgray;
    border: 2px solid black;
    font-size: 32px;
}

#css-demo-unit-px{
    margin: 10px 50px;
}

#css-demo-unit-em{
    margin: 10px 50em;
}

#css-demo-unit-rem {
    margin: 10px 50rem;
}

#css-demo-unit-auto {
    margin: auto; 
}

#css-demo-unit-percent {
    margin: 0 20%; 
}

img {
    display: block;
    margin: 0 auto;
}
